﻿@model Blog_5_18_11_2014.Models.Post

@{
    ViewBag.Title = "Details";
}


<fieldset>
    <legend>Post</legend>

  
    <div class="display-field">
        <h2><div style="color: #00ff21;">@Html.DisplayFor(model => model.Title)</div></h2>
    </div>
    
   
    <div class="display-field">
        @if(Model.ID==1){<div align="center"><img border ="0" src="/images/vinhhalong.jpg"
    alt="bia" width="450" height="200"></div>}
         @if(Model.ID==21){<div align="center"><img border ="0" src="/images/nhatrang.jpg"
    alt="bia" width="450" height="200"></div>}
        @if(Model.ID==22){<div align="center"><img border ="0" src="/images/phongnha.jpg"
    alt="bia" width="450" height="200"></div>}
        @if(Model.ID==23){<div align="center"><img border ="0" src="/images/chua1cot.jpg"
    alt="bia" width="450" height="200"></div>}
         @if(Model.ID==24){<div align="center"><img border ="0" src="/images/codohue.jpg"
    alt="bia" width="450" height="200"></div>}
         <span style="font-family: Arial; font-size: 15pt;">@Html.DisplayFor(model => model.Body)</span>
        
         
    </div>

  
  <div class="display-field">
      <div align="right">
        <h6>@Html.DisplayFor(model => model.DateCreated)</h6>
    </div></div>
</fieldset>


   

<fieldset> 
    <div align="right">
       <legend>Tags </legend>
        Tags:
          @foreach (var Tag in Model.Tags.Take(10))
          {
             string nameTag = Tag.content;

                <td>
                 @Html.ActionLink(nameTag, "Details/"+Tag.TagID,"Tag")
                </td>
          }
    </div>
</fieldset>
<div align="right">
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p></div>


<legend><h6>Để bình luận của bạn tại đây</h6></legend>
@Html.Partial("_addComment", new Blog_5_18_11_2014.Models.Comment(), ViewData)


<fieldset>
    <legend>List(Comments)</legend>
    <div id ="result">
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.DataCreated).Take(5)) 
    {  
         <span style="font-family: Arial; font-size: 15pt;">
        <div class="display-field">
            <h6>@Html.DisplayFor(x => comment.Body)</h6>
        </div>
             </span>
      
        <span style="font-family: Arial; font-size: 13pt;"> 
      <div class="display-field">
           cách đây @Html.DisplayFor(x => comment.LastTime) phút
        </div> </span>
               
    }
        </div>
    </fieldset>
