﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - HO DUY KHANH </title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
          @Scripts.Render("~/bundles/jquery")
    
    </head>
    <body>
        <header>
             <img border ="0" src="/images/hinh.png"
    alt="bia" width="1850" height="200" />

            <div class="content-wrapper">
                 <div class="float-right">
                    <section id="login">
                      <h2>  @Html.Partial("_LoginPartial")</h2>
                    </section>
                    
                </div>
                <div class="float-left">
                    
                 @*   <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>*@
                    <nav>
                        <ul id="menu">
                           <h2><li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                            <li>@Html.ActionLink("Tin Tức",  "index","Tintuc")</li>
                            <li>@Html.ActionLink("Danh Thắng Việt Nam",  "index","Post")</li>
                  
                            <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li> </h2> 
                            
                        </ul>
                    </nav>
                </div>
               
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Hồ Duy Khánh</p>
                </div>
            </div>
        </footer>

      
        @RenderSection("scripts", required: false)
    </body>
</html>
