﻿@model Blog_5_18_11_2014.Models.Comment
<span style="font-family: Arial; font-size: 15pt;">
        <div class="display-field">
            <h6>@Html.DisplayFor(model=>model.Body)</h6>
        </div>
             </span>
      
        <span style="font-family: Arial; font-size: 13pt;"> 
      <div class="display-field">
           cách đây @Html.DisplayFor(model=>model.LastTime) phút
        </div> </span>
