﻿@{
    ViewBag.Title = "Liên Hệ";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>

</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>0168.468.9425</span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span><a href="mailto:12110080@student.hcmute.edu.vn">12110080@student.hcmute.edu.vn</a></span>
    </p>
    
</section>

