﻿@model IEnumerable<Blog_5_18_11_2014.Models.Tag>

<section class="featured"> <h1><div style="color: #ffd800;">Các Danh Lam Thắng Cảnh</div></h1>
    @*<div class="content-wrapper">*@
     <fieldset>
    <legend>List(Posts)</legend>


    
     @foreach (Blog_5_18_11_2014.Models.Post post in ViewBag.posts) 
       {
  
    <tr>
        
           <h2> <div style="color: #00ff21;">@Html.DisplayFor(modelItem => post.Title)</div></h2>
      
           @if(post.ID==1){ <a href="http://localhost:1170/Post/Details/1" class="thumb">
               <div align="center"><img border ="0" src="/images/vinhhalong.jpg"
    alt="bia" width="450" height="200"></div></a>
          <span style="font-family: Arial; font-size: 15pt;">Vị trí: Vịnh Hạ Long nằm ở vùng Đông Bắc Việt Nam,
                là một phần phía tây Vịnh Bắc Bộ, bao gồm vùng biển của thành phố Hạ Long,
                thị xã Cẩm Phả và một phần của huyện đảo Vân Đồn. Phía tây nam giáp đảo Cát Bà, 
               phía tây giáp đất liền với đường bờ biển dài 120 km.... </span>
       
           }
        @if (post.ID == 21) { <a href="http://localhost:1170/Post/Details/21" class="thumb">
            <div align="center"><img border="0" src ="/images/nhatrang.jpg"
            alt="nt" width="450" height="200" />
                              </div></a>
            <span style ="font-family:Arial;font-size:15pt;">Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, 
                khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Thiên nhiên đã ưu ái ban tặng cho thành phố biển Nha Trang 
                tất cả những gì mà một vùng duyên hải Nam Trung bộ...
                </span>
        }
         @if (post.ID == 22) { <a href="http://localhost:1170/Post/Details/22" class="thumb">
            <div align="center"><img border="0" src ="/images/phongnha.jpg"
            alt="nt" width="450" height="200" />
                              </div></a>
            <span style ="font-family:Arial;font-size:15pt;">Phong Nha - Kẻ Bàng là khu bảo tồn thiên nhiên đã được UNESCO chính thức công nhận.
                 Đây là nơi có hang Sơn Động – hang đá lớn nhất thế giới và khoảng 300 hang động khác...
                </span>
        }
         @if (post.ID == 23) { <a href="http://localhost:1170/Post/Details/23" class="thumb">
            <div align="center"><img border="0" src ="/images/chua1cot.jpg"
            alt="nt" width="450" height="200" />
                              </div></a>
            <span style ="font-family:Arial;font-size:15pt;">Nằm giữa trung tâm thủ đô Hà Nội, chùa Một Cột được xây dựng từ năm 1049 với mục đích
                 tái hiện lại một giấc mơ của vua Lý Thái Tông...
                </span>
        }
         @if(post.ID==24){ <a href="http://localhost:1170/Post/Details/24" class="thumb">
               <div align="center"><img border ="0" src="/images/codohue.jpg"
    alt="bia" width="450" height="200"></div></a>
          <span style="font-family: Arial; font-size: 15pt;">Từng là trung tâm của triều đại nhà Nguyễn, cố đô Huế là tập hợp của một loạt các 
              ngôi chùa, cổng chào, dòng suối, phòng ốc, vườn thượng uyển và cả những ngôi chùa cổ kính.... </span>
       
           }
            <div align="right"><h6>@Html.DisplayFor(modelItem => post.DateCreated)</h6></div>
        
        <td>

        <div align="right">
          
            @Html.ActionLink("Edit", "Edit/"+post.ID,"Post") |
            @Html.ActionLink("Details", "Details/"+post.ID, "Post") |
            @Html.ActionLink("Delete", "Delete/"+post.ID, "Post")</div>
            
            
        </td>
    </tr>
}
  
</fieldset>
    @*</div>*@
 </section>


