﻿@model Blog_5_18_11_2014.Models.TinTuc

@{
    ViewBag.Title = "Details";
}


<fieldset>
    <legend>TinTuc</legend>

   <div class="display-field">
        <h2><div style="color: #00ff21;">@Html.DisplayFor(model => model.Title)</div></h2>
    </div>
    
   
    <div class="display-field">
        @if(Model.ID==4){<div align="center"><img border ="0" src="/images/tin1.jpg"
    alt="bia" width="450" height="200"></div>}
         
         <span style="font-family: Arial; font-size: 15pt;">@Html.DisplayFor(model => model.Body)</span>

        <span style="font-family: Arial; font-size: 15pt;"><table align="center" border="1" cellpadding="1" cellspacing="0" class="tbl_insert" style="width:100%;"><tbody><tr><td>
				<p class="Normal" style="text-align:center;">
					<strong>Top 20 điểm đến được yêu thích nhất năm 2014:</strong></p>
				<table align="center" border="1" cellpadding="1" cellspacing="0" class="tbl_insert" style="width:100%;"><tbody><tr><td style="text-align: center;">
								1. New Zealand</td>
							<td style="text-align: center;">
								11. Canada</td>
						</tr><tr><td style="text-align: center;">
								2. Maldives</td>
							<td style="text-align: center;">
								12. Italy</td>
						</tr><tr><td style="text-align: center;">
								3. Nam Phi</td>
							<td style="text-align: center;">
								13. Mauritius</td>
						</tr><tr><td style="text-align: center;">
								4. Myanmar</td>
							<td style="text-align: center;">
								14. Namibia</td>
						</tr><tr><td style="text-align: center;">
								5. Australia</td>
							<td style="text-align: center;">
								15. Sri Lanka</td>
						</tr><tr><td style="text-align: center;">
								6. Nhật Bản</td>
							<td style="text-align: center;">
								16. Seychelles</td>
						</tr><tr><td style="text-align: center;">
								7. Botswana</td>
							<td style="text-align: center;">
								17. Việt Nam</td>
						</tr><tr><td style="text-align: center;">
								8. Tanzania</td>
							<td style="text-align: center;">
								18. Cuba</td>
						</tr><tr><td style="text-align: center;">
								9. Peru</td>
							<td style="text-align: center;">
								19. Ấn Độ</td>
						</tr><tr><td style="text-align: center;">
								10. Mỹ</td>
							<td style="text-align: center;">
								20. Barbados</td>
						</tr></tbody></table></td>
		</tr></tbody></table><p class="Normal" style="text-align:right;"></span>

    </div>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>*@
    
 <div class="display-field">
      <div align="right">
        <h6>@Html.DisplayFor(model => model.DateCreated)</h6>
    </div></div>
</fieldset>


   

<fieldset> 
    <div align="right">
       <legend>Tags </legend>
        Tags:
          @foreach (var Tag in Model.Tags.Take(10))
          {
             string nameTag = Tag.content;

                <td>
                 @Html.ActionLink(nameTag, "Details/"+Tag.TagID,"Tag")
                </td>
          }
    </div>
</fieldset>
<div align="right">
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p></div>

<legend><h6>Để bình luận của bạn tại đây</h6></legend>
@Html.Partial("_addComment", new Blog_5_18_11_2014.Models.Comment(), ViewData)


<fieldset>
    <legend>List(Comments)</legend>
    <div id ="result">
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.DataCreated).Take(10)) 
    { 
         <span style="font-family: Arial; font-size: 15pt;">
        <div class="display-field">
            <h6>@Html.DisplayFor(x => comment.Body)</h6>
        </div>
             </span>
      
        <span style="font-family: Arial; font-size: 13pt;"> 
      <div class="display-field">
           cách đây @Html.DisplayFor(x => comment.LastTime) phút
        </div> </span>
              
    }
        </div>
</fieldset>
    