﻿@model IEnumerable<Blog_5_18_11_2014.Models.TinTuc>

@{
    ViewBag.Title = "Index";
}

<h1><div style="color: #ffd800;">Tin Tức</div></h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<section class="featured"> 
@foreach (var item in Model) {
    <tr>
       
            <h2><div style="color: #00ff21;">@Html.DisplayFor(modelItem => item.Title)</div></h2>

       @if(item.ID==4){ <a href="http://localhost:1170/Tintuc/Details/4" class="thumb">
                    <div align="center"><img border ="0" src="/images/tin1.jpg"
    alt="bia" width="450" height="200"></div></a>
           <span style="font-family: Arial; font-size: 15pt;">Trong top 20 điểm đến xứng đáng để du lịch trên thế giới năm 2014 vừa qua,
                Việt Nam đứng thứ 17, trên Cu ba, Ấn Độ và Barbados. 
               Kết quả bình chọn dựa trên đánh giá của hơn 90.000 du khách quốc tế.... </span>
       
           }
      
         
       
          <div align="right"><h6> @Html.DisplayFor(modelItem => item.DateCreated  )
        
       
           @Html.DisplayFor(modelItem => item.UserProFile.UserName)</h6>
        
        
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })</div>
        
    </tr>
}
      
 </section>


